.vertical-align {
    display: flex;
    align-items: center;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url('/assets/subtle_surface.png');

  .container[role='main'] {
    height: inherit;
    @extend .vertical-align;
  }
}

.footer {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-bottom;
  @extend .vertical-align;
}

.footer-container {
  @extend .container;
}
