.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url('/assets/subtle_surface.png');
  padding-bottom: $navbar-height;
}

.container[role='main'] {
  @extend .full-height;
}

.full-height {
  height: 100%;
}

.footer {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-bottom;
  @extend .centering;
}

.footer-container {
  @extend .container;
}
